@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #1C1C1C;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 500;
}

.container {
    max-width: 1169px;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6762c;
    width: 165px;
    height: 49px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    transition: opacity 0.3s;
}

.button:hover {
    opacity: 0.8;
}

.button-small {
    width: 141px;
    height: 39px;
    font-size: 12px;
}

/* ШАПКА */

.header {
    padding: 25px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 28px;
}

.header-nav a {
    font-size: 14px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.header-nav a.active {
    opacity: 1;
}

.header-nav a:hover {
    opacity: 0.9;
}

/* ПРИВЕТСТВЕННАЯ СЕКЦИЯ */

.welcome {
    box-sizing: border-box;
    min-height: 100vh;
    margin-top: -100px;
    padding: 186px 0 142px 28px;
    background-image: url("./IMG/welcome-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome-text {
    width: 550px;
}

.welcome-subtitle {
    margin-bottom: 7px;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.welcome-title {
    margin-bottom: 37px;
    font-size: 57px;
}

.welcome-description {
    margin-bottom: 42px;
    font-size: 18px;
    opacity: 0.7;
}

/* СПИСОК ЕДЫ */

.food-list {
    padding: 115px 0 102px 0;
}

.food-list .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.food-list__card {
    background-color: #312F30;
    overflow: hidden;
    width: 262px;
    text-align: center;
    border-radius: 10px;
}

.food-list__img {
    max-width: 100%;
    height: 175px;
    object-fit: cover;
}

.food-list__text-wrapper {
    padding: 28px 19px 35px 19px;
}

.food-list__title {
    margin-bottom: 13px;
    font-size: 20px;
}

.food-list__description {
    margin: 0;
    font-size: 16px;
    opacity: 0.7;
}

/* ORDER */

.order {
    background-color: #312f30;
}

.order .container {
    display: flex;
    align-items: center;
}

.order__img {
    width: 549px;
    height: 499px;
    margin-right: 158px;
    padding: 0 0 44px 0;
}

.order__text {
    width: 365px;
}

.order__title {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 44px;
}

.order__description {
    margin-bottom: 13px;
    opacity: 0.7;
}

.order__prise {
    margin-right: 6px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #f6762c;
}

.order__old-prise {
    font-weight: 500;
    letter-spacing: 0.1em;
    text-decoration: line-through;
    color: #f6762c;
    opacity: 0.5;
}

.order .button {
    margin-top: 11px;
}

/* PRODUCT SECTION */

.product {
    margin: 150px 0 146px 0;
}

.product .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.product__card {
    box-sizing: border-box;
    background-color: #373333;
    width: 555px;
    height: 300px;
    padding: 63px 1px 63px 290px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product__card:nth-child(even) {
    padding-right: 253px;
    padding-left: 50px;

}

.product__title {
    margin-bottom: 20px;
    font-size: 30px;
}

.product__description {
    margin-bottom: 11px;
    opacity: 0.7;
}

.product___prise {
    display: inline-block;
    margin: 0 10px 11px 0;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #f6762c;
}
.product___old-prise {
    text-decoration: line-through;
    opacity: 0.5;
}

.card-queen {
    background-image: url("./IMG/dairy-queen.jpg");
}

.card-hut{
    background-image: url("./IMG/pizza-hut.jpg");
}

.card-king {
    background-image: url("./IMG/burger-king.png");
}

.card-john {
    background-image: url("./IMG/papa-john’s.jpg");
}

/* FEEDBACK */

.feedback {
    margin-bottom: 194px;
}

.feedback .container {
    width: 851px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback__img {
    margin-right: 128px;
}

.feedback__text {
    margin: 0;
    text-align: center;
}

.feedback__text::before {
    content: url("./IMG/icons/quote.svg");
}

.feedback__description {
    margin: 30px 0 27px;
    width: 368px;
    opacity: 0.7;
}

.feedback__author {
    display: block;
    margin-bottom: 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.feedback__subauthor {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.7;
}

/* DOWNLOAD */

.download {
    background-color: #312F30;
}

.download .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.download__title {
    margin: 62px 0 61px;
    font-weight: 500;
    font-size: 40px;
}

/* FOOTER */

.footer {
    padding: 125px 0 140px;
}

.footer .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__logo {
    margin-bottom: 20px;
    width: 74px;
}

.footer a {
    margin-bottom: 9px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.3s;
}

.footer a:hover {
    color: rgba(255, 255, 255, 0.9);
}

.footer__link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__link::before {
    width: 12px;
    height: 12px;
}

.footer__link--mail::before {
    content: url("./IMG/icons/mail.svg");
}

.footer__link--web::before {
    content: url("./IMG/icons/global.svg");
}

.footer__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

a.footer__title {
    display: block;
    margin-bottom: 14px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.footer__iner--item + .footer__iner--item {
    margin-top: 15px;
}

.footer__title--socials {
    margin-bottom: 16px;
}

.footer__socials--img {
    margin-right: 7px;
}